table {
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #ccc;
}

th {
  vertical-align: middle;
}

td {
  margin: .5em .5em 7em;
}

strong {
  text-align: right;
  display: block;
  vertical-align: top;

  font-weight: bold;
}
